@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-dm-sans), sans-serif;
}

p, span, a, input, textarea, button, body {
  font-family: var(--font-dm-mono), monospace;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
